{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1><span>Bienvenu a lucas </span></h1>
    <div class="text-center text-lg-start">
        <a href="login" class="btn-get-started scrollto">Conecter vous</a>
    </div>
{% endblock %}
